<ion-content>
  <ion-grid class="makeRequestsTabGrid" >
    <ion-row>
      <span><ion-icon name="book" class="requestIcon"></ion-icon></span>
      <p class="requestLabel">Requests</p>
    </ion-row>
    <ion-row justify-content-center >
      <div style="height: 150px" *ngFor="let requestItem of selectedItem" >
        <img *ngIf="requestItem.itemImage" [src]="'data:image/png;base64,'+ requestItem.itemImage"/>
      </div>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label >Select a Request Item</ion-label>
            <ion-select #itemSelector [(ngModel)]="selectedItem" (click)="openModal({charNum: selectedItem})" (ionChange)="optionsFn($event)">
              <ion-option  *ngFor="let item of selectedItem" value="{{item}}"  [selected]="item">{{item.itemName}} </ion-option>
            </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button float-right color="primary" type="submit" [disabled]="!selectedItem.length>0">Next</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

