<ion-header>
  <ion-toolbar>
    <ion-title>
      Select a Request Item
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar (ionInput)="getItems($event)" showCancelButton="focus"></ion-searchbar>
</ion-header>
<ion-content>
    <ion-grid class="makeRequestsTabGrid">
      <ion-list radio-group *ngFor="let requestItem of requestItems"  [(ngModel)]="itemChecked">

          <ion-item *ngIf="requestItem.itemID === '1'">
            <ion-radio item-left [checked]="true" [value]="requestItem.itemID" (ionSelect)="onChangeHandler(requestItem,$event)"></ion-radio>
            <ion-thumbnail item-left class="thumbnail">
              <img *ngIf="requestItem.itemImage" [src]="'data:image/png;base64,'+ requestItem.itemImage"/>
            </ion-thumbnail>
            <ion-label>{{ requestItem.itemName }}</ion-label>
          </ion-item>

          <ion-item *ngIf="requestItem.itemID !== '1'">
            <ion-radio item-left  [checked]="false" [value]="requestItem.itemID" (ionSelect)="onChangeHandler(requestItem,$event)"></ion-radio>
            <ion-thumbnail item-left class="thumbnail">
              <img *ngIf="requestItem.itemImage" [src]="'data:image/png;base64,'+ requestItem.itemImage"/>
            </ion-thumbnail>
            <ion-label>{{ requestItem.itemName }}</ion-label>
          </ion-item>

      </ion-list>
    </ion-grid>
</ion-content>
